.setting-container{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    width: 400px;
}

fieldset {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.form-container {
    display: flex;
    margin-bottom: 20px;
}

.form-container > * {
    width: 40%;
}

.form-container > input[type=number]{
    width: 30px;
}

.form-container > input[type=range]{
    margin-right: 40px;
    width: 50%;
}

.form-container > input[type=text]{
    width: 100%;
}

.form-container > input[type=button]{
    margin: 0px auto;
}

fieldset > input {
    width: 100%;
}
